*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    background-color: lightblue;
    height: 100vh;
    text-align: center;
    padding: 10% 10%;
}

.score_box{
    display: flex;
    border: 2px solid blueviolet;
    justify-content: space-between;
    padding: 15px 30px;
}

.scores{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 20px;
    background-color: white;
}

.hands{
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    align-items: center;
    
}

.hands img{
    border: 2px solid white;
    border-radius: 50%;
    margin:0 10px;
    height: 70px;
    width: 70px;
    transition: all .3s ease;
}

.hands img:hover{
    transform: scale(1.1);
}

.compete{
    border: 2px solid black;
    display: flex;
    margin-top: 50px;
    display: none;
}

.compete img{
    height: 70px;
    width: 70px;
}

.compete > div{
    flex: 1;
}